name: RE-CCV2-Build-CleanUp

on:
  workflow_dispatch:

  schedule:
    - cron: '*/5 * * * *'

concurrency:
  group: ${{ github.workflow }}

jobs:
  cleanup-old-builds: 
    name: Clean Up Old Builds
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Build Codes
        id: fetch_code
        run: |
          echo "Fetch build codes from SAP"

          curl -s \
            -H "Accept: application/json" \
            -H "Authorization: Bearer 48665f90287c2ce5d201aceb20e42c" \
            -X GET \
            -o builds.json \
            "https://portalapi.commerce.ondemand.com/v2/subscriptions/7a7a411d20a24eeab30ce5fa10ff0137/builds?statusNot=BUILDING,DELETED&$top=2000&$skip=0&$count=true&$orderby=buildStartTimestamp%20desc"

          echo "Filtering builds older than 30 days..."

          THIRTY_DAYS_AGO=$(date -d '30 days ago' +%s)

          codes=$(jq -r --argjson ts "$THIRTY_DAYS_AGO" '
            .value[] |
            select(
              .hasSnapshot == false and
              .deployed == false and
              ( (.buildStartTimestamp | sub("\\.\\d+Z$"; "Z") | fromdateiso8601) < $ts )
            ) | .code
          ' builds.json)

          echo "First 5 eligible build codes:"
          echo "$codes" | head -n 5
