name: RE-CCV2-Build-CleanUp
on:
  workflow_dispatch:

  schedule:
    - cron: '0 0 1 1 *'

concurrency:
  group: ${{ github.workflow }}

jobs:
  cleanup-old-builds:
    name: Clean Up Old Builds
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Build Codes
        id: fetch_code
        run: |
          echo "Fetch build codes from SAP"
          
          curl -s \
          -H "Accept: application/json" \
          -H "Authorization: Bearer ${{ secrets.CCV2_TOKEN }}" \
          -X GET \
          -o builds.json \
          "https://portalapi.commerce.ondemand.com/v2/subscriptions/${{ secrets.SUBSCRIPTION_ID }}/builds?statusNot=BUILDING,SCHEDULED,DELETED&$top=2000&$count=true&$orderby=buildStartTimestamp%20desc"

          # Function to find and delete old builds by branch type
          
          delete_old_builds() {
          branch_name=$1
          echo "Processing builds for $branch_name branch..."
          
          mapfile -t build_codes < <(
          if [[ "$branch_name" == "sprint" ]]; then
          jq -r '.value[] | select((.branch | startswith("sprint/")) and .hasSnapshot == false and .deployed == false) | .code' builds.json
          else
          jq -r --arg branch "$branch_name" '.value[] | select((.branch == $branch) and .hasSnapshot == false and .deployed == false) | .code' builds.json
          fi
          )
            # echo "Build codes found for '$branch_name' branch:"
            #   for code in "${build_codes[@]}"; do
            #    echo "  - $code"
            #      done
          
          total_builds=${#build_codes[@]}
          
          if [ "$total_builds" -le 25 ]; then
          echo "Only $total_builds builds found for '$branch_name'. No deletion needed."
          return
          fi
          
          echo "Found $total_builds builds for '$branch_name'. Deleting $((total_builds - 25)) oldest builds..."
          
            
        
              delete_old_builds "develop"
            delete_old_builds "release"
            delete_old_builds "sprint"
